<div class="static-page">
  <div class="static-container-wide">
    <a href="/changelog" class="static-back-link">← {gettext("Changelog")}</a>

    <h1 class="static-title-large">{@entry.title}</h1>
    <div class="static-tags">
      <div class="static-tag-version">{@entry.id}</div>
      <div class="static-tag-date">{@entry.date}</div>
    </div>

    <div class="content">
      {raw(@entry.body)}
    </div>
  </div>
</div>
