<div class="static-page">
  <div class="static-container-wide">
    <a href="/" class="static-back-link">← {gettext("Homepage")}</a>

    <h1 class="static-title-large">{@document.title}</h1>
    <div class="static-tags">
      <div class="static-tag-version">v{@document.version}</div>
      <div class="static-tag-date">{@document.date}</div>
    </div>

    <div class="content">
      {raw(@document.body)}
    </div>
  </div>
</div>
